@page "/"
@using System.Diagnostics.CodeAnalysis;
@using Microsoft.Extensions.Localization;
@inject SunAngleHelper AngleHelper;
@inject DaylightCalculater DaylightCalculater;
@inject ILogger<Index> Logger;

<PageTitle>房屋日照时间计算器</PageTitle>

<h1>房屋日照时间计算器</h1>
<GroupBox Title="房屋日照时间计算器" style="margin-top: 1.5rem;">
    <ValidateForm Model="@Model" OnValidSubmit="@OnValidSubmit">
        <EditorForm Model="@Model">
            <FieldItems>
                <EditorItem @bind-Field="@context.CurrentDateTime">
                    <EditTemplate Context="value">
                        <DateTimePicker @bind-Value="context.CurrentDateTime" ShowLabel="true" ViewMode="DatePickerViewMode.DateTime" Format="yyyy-MM-dd HH:mm:ss" />
                    </EditTemplate>
                </EditorItem>
            </FieldItems>
            <Buttons>
                <Button ButtonType="@ButtonType.Submit" IsAsync="true" Icon="fa-solid fa-floppy-disk" Text="计算" />
            </Buttons>
        </EditorForm>
    </ValidateForm>
</GroupBox>

<GroupBox Title="结果" style="margin-top: 1.5rem;">
    <EditorForm Model="@Sunshine">
    </EditorForm>
</GroupBox>

@code {
    HouseDaylightViewModel Model { get; set; } = new HouseDaylightViewModel();
    SunshineViewInfo Sunshine { get; set; } = new SunshineViewInfo();

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    Task OnValidSubmit(EditContext context)
    {
        var model = (HouseDaylightViewModel)context.Model;
        Sunshine.SetSunshineInfo(DaylightCalculater.GetSunshineInfo(model.GetHouseDaylightModel()));
        Logger.LogInformation(Sunshine.TimeSpanString);
        StateHasChanged();

        return Task.CompletedTask;
    }
}